body {
    background-color: rgba(0, 0, 0, 0.811);
}

.pie-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
.pie {
  width: 40%;
  height: 200px;
  margin: 10px;
  position: relative;
}

.pie path:hover {
    transform: scale(1.1); /* Increase the scale value to adjust the floating effect */
    transition: transform 0.3s ease; /* Adjust the transition duration and easing as desired */
}

.stackedBar {
    width: 400px;
    height: 400px;
}

.legend {
    font-size: 12px;
}

.pie-container .title,
.stackedBar-container .title,
.totalMovies-container .title,
.lineMT-container .title {
    color: rgb(255, 255, 167);
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}
.container {
    display: flex;
    justify-content: space-between;
    height: 480px;
  }

.stackedBar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

  .axis text {
    fill: white;
  }
  
  .lineMT {
    width: 400px;
    height: 800px;
  }

  .tooltip {
    position: absolute;
    visibility: hidden;
    background-color: rgb(187, 240, 213);
    color: rgb(7, 7, 7);
    padding: 5px;
    font-size: 22px;
    border-radius: 8px;
    /* Position the tooltip above the logo picture
    top: -30px;
    left: 200px;
    Add a triangular arrow using borders
    border-style: solid;
    border-width: 5px; */
    border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
  }
  
  
.pie-container,
.stackedBar-container,
.totalMovies-container,
.lineMT-container {
  flex: 1;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  border: 2px solid rgba(213, 3, 3, 0.54); /* Add red border */
  padding: 10px; /* Add padding for spacing */
}

.tabcontent .Overview{
    color: rgb(229, 5, 5);
  font-size: 45px;
  margin-top: 10px;
  width: 300px;
  text-align: center;
  border: 2px solid rgba(213, 3, 3, 0.54);
  margin-left: auto;
  margin-right: auto;
}

.MTcontainer {
    display: flex;
    justify-content: space-between;
    height: 150px;
  }

  .legendP-container {
    text-align: left;
    border: 2px solid rgba(213, 3, 3, 0.54);
    padding: 2px;
    margin-bottom: 10px;
    margin-right: 30px;
  }

  #legendPContainer {
    display: flex;
    flex-direction: column;
  }
  
  .legendP-container .title {
    color: rgb(255, 255, 167);
    font-size: 15px;
    margin-top: 0;
  }

.totalMovies-container {
    text-align: center;
    border: 2px solid rgba(213, 3, 3, 0.54);
    padding: 2px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px; /* Add margin-right to create space between containers */
  }
  
  .totalMovies-container .title {
    color: rgb(255, 255, 167);
    font-size: 15px;
    margin-top: 0;
  }
  
  .totalTVs-container {
    text-align: center;
    border: 2px solid rgba(213, 3, 3, 0.54);
    padding: 2px;
    margin-bottom: 10px;
    margin-right: 10px; /* Add margin-right to create space between containers */
  }
  
  .totalTVs-container .title {
    color: rgb(255, 255, 167);
    font-size: 15px;
    margin-top: 0;
  }
  
  .bestPlatform-container {
    text-align: center;
    border: 2px solid rgba(213, 3, 3, 0.54);
    padding: 2px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .bestPlatform-container .title {
    color: rgb(255, 255, 167);
    font-size: 15px;
    margin-top: 0;
  }

.mttitle{
    color: rgb(255, 255, 167);
    font-size: 15px;
    margin-top: 0;
  }

.tooltipPie {
  position: absolute;
  visibility: hidden;
  background-color: #a4f9f6;
  border: 1px solid #0205315c;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  color: #333;
}


.legend-item {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 17px;
}

.legend-color {
  width: 15px;
  height: 15px;
  display: inline-block;
}

.legend-label {
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
  font-size: 15px;
}

.tooltipSB {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  pointer-events: none;
  opacity: 0;
}

.pie-chartSB {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pie-chart-sliceSB {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 2px;
}
.genre-title {
  font-size: 12px;
  font-weight: bold;
  fill: rgb(5, 5, 5);
}
