body {
    background-color: black;
    /* rgba(0, 0, 0, 0.895); */
}

.pie path:hover {
    transform: scale(1.1); /* Increase the scale value to adjust the floating effect */
    transition: transform 0.3s ease; /* Adjust the transition duration and easing as desired */
}

.stackedBar {
    width: 400px;
    height: 400px;
}

.pieFrame .title,
.stackedBar-container .title,
.totalMovies-container .title,
.lineMT-container .title {
    color: rgb(255, 255, 167);
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
.container {
    display: flex;
    justify-content: space-between;
    height: 580px;
  }

.stackedBar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

  .axis {
    color: white;
  }

  .axis .text {
    color: white;
  }
  
  .lineMT {
    width: 400px;
    height: 800px;
  }

  .tooltipBP {
    position: absolute;
    visibility: hidden;
    background-color: rgb(187, 240, 213);
    color: rgb(7, 7, 7);
    padding: 5px;
    font-size: 22px;
    border-radius: 8px;
    border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
  }
  

.pieFrame,
.stackedBar-container,
.lineMT-container {
  flex: 1;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  border: 2px solid rgba(255, 255, 255, 0.54); /* Add red border */
  border-radius: 15px;
  padding: 10px; /* Add padding for spacing */
}


.tabcontent .Overview{
  color: rgb(255, 255, 167);
  font-size: 65px;
  margin-top: 10px;
  width: 400px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.54);
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
}

.MTcontainer {
    display: flex;
    justify-content: space-evenly;
    height: 150px;
  }

  .legendP-container {
    text-align: left;
    border: 2px solid rgba(255, 255, 255, 0.54);
    border-radius: 15px;
    padding: 9px;
    margin-bottom: 10px;
  }

  #legendPContainer {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }

.totalMovies-container {
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.54);
    border-radius: 15px;
    padding: 2px;
    margin-bottom: 10px;
    margin-left: 35px;
  }
  
  .totalMovies-container .title {
    color: rgb(255, 255, 167);
    font-size: 15px;
    margin-top: 0;
  }
  
  .totalTVs-container {
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.54);
    border-radius: 15px;
    padding: 2px;
    margin-bottom: 10px;
    margin-left: 35px; /* Add margin-right to create space between containers */
  }
  
  .totalTVs-container .title {
    color: rgb(255, 255, 167);
    font-size: 15px;
    margin-top: 0;
  }

  .totalCasts-container {
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.54);
    border-radius: 15px;
    padding: 2px;
    margin-bottom: 10px;
    margin-left: 35px; /* Add margin-right to create space between containers */
  }
  
  .totalCasts-container .title {
    color: rgb(255, 255, 167);
    font-size: 15px;
    margin-top: 0;
  }

  .totalDirectors-container {
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.54);
    border-radius: 15px;
    padding: 2px;
    margin-bottom: 10px;
    margin-left: 35px; /* Add margin-right to create space between containers */
  }
  
  .totalDirectors-container .title {
    color: rgb(255, 255, 167);
    font-size: 15px;
    margin-top: 0;
  }
  
  .bestPlatform-container {
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.54);
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 35px;
  }
  
  .bestPlatform-container .title {
    color: rgb(255, 255, 167);
    font-size: 15px;
    margin-top: 0;
  }

.mttitle{
    color: rgb(255, 255, 167);
    font-size: 15px;
    margin-top: 0;
  }

.tooltipPie {
  position: absolute;
  visibility: hidden;
  background-color: #fdfdfd;
  border: 5px solid #484b4b;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  color: #141313;
}


.legend-item {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.legend-color {
  width: 15px;
  height: 15px;
  display: inline-block;
}

.legend-label {
  display: inline-block;
  margin-left: 5px;
  font-size: 20px;
}

.tooltipSB {
  position: absolute;
  background-color: white;
  border: 2px solid #7b7878;
  border-radius: 5px;
  padding: 10px;
  pointer-events: none;
  opacity: 0;
}

.tooltipMT {
  position: absolute;
  background-color: rgb(223, 220, 220);
  color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  pointer-events: none;
}

.pie-chartSB {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pie-chart-sliceSB {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 2px;
}
.genre-title {
  font-size: 12px;
  font-weight: bold;
  fill: rgb(5, 5, 5);
}

.pie-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create two columns */
  grid-gap: 10px; /* Add gap between pie charts */
  margin-left: 10px;
  margin-bottom: 5px;
}

.pie-container {
  width: 80%; /* Set the width to 100% */
  height: 200px;
}

.pie {
  width: 100%;
}

.highlight {
  opacity: 1 !important;
  fill-opacity: 1 !important;
}


